/*
!/.gitignore

!/ovdatastruct
!/unity
!/ovunity
!/cexception
!/geometry2d
!/CTree
!/CTreeTest
!/eks
!/graphSearch
!/graphSearchTest
!/wandelbareTopologie
!/wandelbareTopologieTest
!/gtpf
!/gtpfTest
!/TGraph
!/TGraphTest
!/sync
!/syncTest
!/PostSys
!/PostSysTest

/*/source/sourcetemplates
/*/build
!/*/build/**/Makefile
/*/draft
/*/.svn
/*/Debug (Windows)
/*/Debug
/*/Release
/*/.vscode