/*
!/.gitignore
!/ovdatastruct
!/CTree
!/eks
!/graphSearch
!/graphSearchTest
!/wandelbareTopologie
!/wandelbareTopologieTest
!/gtpf
!/gtpfTest
!/TGraph
!/TGraphTest
/*/.cproject
/*/.project
/*/.settings
/*/source/sourcetemplates
/*/build
!/*/build/*/Makefile
/*/draft
/*/.svn
/*/Debug (Windows)