/*
!/.gitignore

!/ovdatastruct
!/unity
!/ovunity
!/cexception
!/geometry2d
!/CTree
/CTree/test/*
!/CTreeTest
!/eks
!/graphSearch
!/graphSearchTest
!/wandelbareTopologie
!/wandelbareTopologieTest
!/gtpf
!/gtpfTest
!/TGraph
!/TGraphTest
!/sync
!/syncTest
!/PostSys
!/PostSysTest
!/ksmsg
!/lbalance
!/lbalanceTest

!/ovhelper
/*/source/sourcetemplates
/*/build
/*/draft
/*/.svn
/*/Debug (Windows)
/*/Debug
/*/Release
/*/.vscode
/*/.settings/language.settings.xml

/*/.idea
/*/cmake-build-debug
/*/CMakeLists.txt

/*/test/*/*/result/ist.json
/*/test/*/*/result/soll.json

/gtpfTest/test/assoziererTest/*.png

/**/.*.swp
/**/.*.swo
/**/.*.un~
